.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  border: 1px solid black;
  height: 400px;
}
.App input {
  border: 2px solid grey;
  height: 50px;
  font-size: medium;
  /* display:flex; */
  margin: 10px;
}
/* .App input:nth-child(2) {
  
} */
.App button {
  margin: 0px 10px;
}
.App .add {
  text-align: center;
  background-color: blue;
  color: white;
  font-size: medium;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
