* {
           /* margin: 0;
            padding: 0;*/
            box-sizing: border-box;
        }
        


.calcy{
	justify-content: center;
	/*width: 280px;
    height: 280px;*/
     position: relative;
     top: calc(50%);
     display: inline-block;
     left: calc(50% + 0px);
     /*display: grid;
     grid-template-columns: auto auto auto ;*/
    border:2px solid black;
}
button , .calculator{
	padding:10px;
	margin:5px;
	 /*line-height: 25px;*/
	/* width: 30px;*/
       /* text-align: center;*/
}
input{
	margin:15px;
	padding:10px;
}
/*#sub{
	padding: 15px;
}*/