* {
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(rgb(201, 201, 238), blue); */
    background-color: rgb(29, 4, 28);
}

.main {
    /* background-image: linear-gradient(red, yellow); */
    background-color: black;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    overflow: none;
    border-radius: 5px;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: darkgray;
}

.class-box {
    border: 1px solid whitesmoke;
    border-radius: 20%;
}

.class-box:hover {
    background-color: white;
}

.active {
    /*  background-color: purple; */
    background-image: linear-gradient(red, yellow);
}