body {
    background-color: black;
    color: blanchedalmond;
}

.desc {
    margin: 20px 0px 20px 0px;
}

.container {
    display: flex;
    place-content: space-around;
}

.right {
    width: 400px;
    height: 500px;
    border: 2px solid cornsilk;
}

h1 {
    text-align: center;
}

th,
td {
    padding: 15px;
}