.desc {
    margin: 20px 0px 20px 0px;
}

.container {
    display: flex;
    place-content: space-around;
}

.right {
    width: 400px;
    height: 500px;
    border: 2px solid black;
}

h1 {
    text-align: center;
}